body{
    min-height:100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    margin:0;
    padding:0;
}
*{
    box-sizing:border-box;
}
.a{
    max-width: 400px;
    width:90%;
    background:rgb(0, 0, 0);
    border-radius:8px;
    overflow:hidden;
    margin: 0 auto;
    box-shadow:0 0 20px rgb(0, 255, 255);
}
.a form{
    padding:50px 40px;
    text-align: left;
    color:cyan;
    display: flex;
    flex-direction: column;
}
.a form h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#0abfbc;
    font-weight:500;
    text-align: center;
    margin-bottom: 20px;
}
input[type="text"],input[type="password"]{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border:none;
    border-radius: 5px;
    background:#f1f1f1;
}
input[type="text"]:focus, input[type="password"]:focus {
    background-color: #ddd;
}
.link{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.link a{
    margin:10px 0;
    font-size: 1em;
    color:rgb(9, 255, 0);
}
.link a:hover,
.link a:nth-child(2){
    color:#b237d7;
}

button{
    padding:8px 20px;
    margin-top: 20px;
    margin-left: 50px;
    width:40%;
    height:40px;
    background-color:#0000;
    color:#00fffc;
    font-weight:700;
    border-radius:2px;
    overflow:hidden;
    text-align: center;
    position: relative;
    border:none;

}
button::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:conic-gradient(120deg, transparent,#00fffc,transparent);
    position:absolute;
}
button:hover{
    background-color: #00fffc;
    color:black;
    box-shadow:0 0 20px 5px #00fffc;
}
.button:active{
    opacity:0.5;
}
@media only screen and (max-width: 600px)
{
    .a{
        width:90%;
        border-radius: 0;
    }
}